@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Archivo+Black&family=Lilita+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rowdies:wght@300;400;700&family=Spicy+Rice&family=Unbounded:wght@200..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark-mode {
  --bg-color: #171717;
  --text-color: #ffffff;
}

/* theme toggle */
.theme-toggle {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  /* border: 1px solid #ccc; */
  border-radius: 50%;
  padding: 0.75rem;
  font-size: 1.25rem;
  cursor: pointer;
  z-index: 1000;
}

/* end */

/* gsap */
@supports (clip-path: circle(50% at 50% 50%)) {
  .clip-animated {
    transition: clip-path 0.4s ease-in-out;
  }
}

@layer utilities {
  .swing-hover {
    display: inline-block;
    transition: transform 0.3s ease;
    transform-origin: center;
  }

  .swing-hover:hover {
    transform: rotate(3deg) skewX(5deg);
  }
}

/* end */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #FFD6CC;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #171717;
  border-radius: 10px;

}

/* Firefox */
* {
  scrollbar-width: thick;
  scrollbar-color: #FFD6CC #171717;
}

main {
  flex: 1;
}

/* Key frame/Animations */
@keyframes gradientWave {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Projects */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scaleOut {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0.9);
  }

}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.animate-fadeOut {
  animation: fadeOut 0.3s ease-out;
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

.animate-scaleIn {
  animation: scaleIn 0.5s ease-out;
}

.animate-scaleOut {
  animation: scaleOut 0.3s ease-out;
}

/* About | Contact */
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fadeInLeft {
  animation: fadeInLeft 1s ease-out both;
}

.animate-fadeInLeftDelay {
  animation: fadeInLeft 1s ease-out both;
  animation-delay: 0.4s;
  opacity: 0;
}

/* Staggered delays */
.delay-1 {
  animation-delay: 0.3s;
}

.delay-2 {
  animation-delay: 0.6s;
}

.delay-3 {
  animation-delay: 0.9s;
}

.delay-4 {
  animation-delay: 1.2s;
}

/* right */
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fadeInRight {
  animation: fadeInRight 1s ease-out both;
}

.animate-fadeInRightDelay {
  animation: fadeInLeft 1s ease-out both;
  animation-delay: 0.4s;
  opacity: 0;
}

/* wavy header */
/* end */

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s;
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body hr {
  border: 1px solid #171717;
}

/* index */
.header {
  background: linear-gradient(120deg, #FFF5CC, #FFE6A7, #FFD6CC, #FFBFC9, #D5A7FF, #c082fa, #6d3e9a);
  background-size: 200% 200%;
  animation: gradientWave 20s ease infinite;
  transition: background-color 0.3s, color 0.3s;
  background-position: center;
  background-repeat: space;
  height: 500px;
  text-align: center;
  align-items: center;
  margin: 1rem;
  padding: 20px 20px;
  border: 2px solid #171717;
  box-shadow: #7e7e7e 10px 10px 10px;

}

.dark-mode .header {
  /* background: linear-gradient(120deg, #8E706A, #755B6B, #0F3A90, #008888); */
  background-size: 200% 200%;
  animation: gradientWave 20s ease infinite;
  transition: background-color 0.3s, color 0.3s;
  border: 2px solid #343434;
  /* box-shadow: transparent 10px 10px 10px; */
  box-shadow: #000000 10px 10px 10px;


  h1 {
    color: #008888
  }
}

.header h1 {
  font-size: 2rem;
  font-family: 'Panchang', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: bold;
  padding: 150px 20px;
}

.header p {
  font-size: 1.2rem;
  font-family: 'Panchang', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 5px -55px;
  color: #131313;
}

.main-index {
  padding: 20px;
  offset: 15px;
  border: 2px solid #171717;
  box-shadow: #7e7e7e 10px 10px 10px;

}

.dark-mode .main-index {
  padding: 20px;
  offset: 15px;
  border: 2px solid #343434;
  /* box-shadow: transparent 10px 10px 10px; */
  box-shadow: #000000 10px 10px 10px;


}

.p-link {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #6d3e9a;
  background-size: 200% 100%;
  transition: color 0.5s ease-in-out;
}

.p-link:hover {
  color: #D5A7FF;
  background-size: 200% 100%;
  transition: color 0.5s ease-in-out;
}

/* end  */
/* About */
.about {
  border: 2px solid #171717;
  box-shadow: #7e7e7e 10px 10px 10px;
}

.dark-mode .about {
  border: 2px solid #343434;
  box-shadow: #000000 10px 10px 10px;
}

.a-link {
  color: #ff7e5f;
  transition: color 0.5s ease-in-out;
}

.a-link:hover {
  color: #feb47b;
  text-decoration: underline;
  transition: color 0.5s ease-in-out, text-decoration 0.5s ease-in-out;
}

.col-cards {
  border: 2px solid #171717;
  box-shadow: #7e7e7e 10px 10px 10px;
  padding: 20px;
}

.dark-mode .col-cards {
  border: 2px solid #343434;
  /* box-shadow: transparent 10px 10px 10px; */
  box-shadow: #000000 10px 10px 10px;


}

/* end */
/* Projects */
.project-card {
  background-color: #ffffff;
  border: 2px solid #171717;
  overflow: hidden;
  transition: transform 0.3s ease;
  box-shadow: #7e7e7e 10px 10px 10px;
}

.dark-mode .project-card {
  background-color: #343434;
  box-shadow: #171717 10px 10px 10px;
  border: 2px solid #343434;
}

.card-image {
  align-items: center;
  justify-content: center;
  height: none;
  width: none;
}

.slug {
  padding: 20px;
  border: 2px solid #171717;
  box-shadow: #7e7e7e 10px 10px 10px;

}

.dark-mode .slug {
  padding: 20px;
  border: 2px solid #343434;
  box-shadow: #000000 10px 10px 10px;
}

.slug-image {
  margin: auto;
  border: 2px solid #171717;
  align-items: center;
  justify-content: center;
  box-shadow: #7e7e7e 10px 10px 10px;
}

.dark-mode .slug-image {
  margin: auto;
  border: 2px solid #343434;
  align-items: center;
  justify-content: center;
  /* box-shadow: transparent 10px 10px 10px; */
  box-shadow: #000000 10px 10px 10px;
}

.main-detail {
  padding: 15px;
  border: 2px solid #171717;
  box-shadow: #7e7e7e 10px 10px 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.main-detail:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: #7e7e7e 15px 20px 20px;
}

.dark-mode .main-detail {
  padding: 15px;
  border: 2px solid #343434;
  /* box-shadow: transparent 10px 10px 10px; */
  box-shadow: #000000 10px 10px 10px;
}

.dark-mode .main-detail:hover {
  box-shadow: #000000 15px 20px 20px;
}

.view {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  background: linear-gradient(90deg, #D5A7FF, #6d3e9a);
  background-size: 200% 100%;
  animation: gradientWave 5s ease infinite;
  transition: background-color 1s ease, color 1s ease, outline-color 1s ease;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  outline: 2px solid #1717177a;
  padding: 10px 20px;
}

.view:hover {
  background: linear-gradient(90deg, #D5A7FF, #c082fa, #6d3e9a);
  background-size: 200% 100%;
  animation: gradientWave 5s ease infinite;
  transition: background-color 1s ease, color 2s ease, outline-color 1.5s ease;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  outline: 2px solid #FFBFC9;
  padding: 10px 20px;

}

.dark-mode .proj-text {
  color: white;
}

/* end */
/* Contact */
.contact {
  padding: 20px;
  border: 2px solid #171717;
  box-shadow: #7e7e7e 10px 10px 10px;
}

.dark-mode .contact {
  border: 2px solid #343434;
  box-shadow: transparent 10px 10px 10px;
}

.contact-field {
  box-shadow: transparent 10px 10px 10px;
  border: 2px solid #343434;
  transition: color 1s ease, border-color 1s ease, background-color 0.3s ease, box-shadow 1s ease;
}

.dark .contact-field {
  box-shadow: transparent 10px 10px 10px;
  border: 2px solid #343434;
  transition: color 1s ease, border-color 1s ease, background-color 0.3s ease, box-shadow 1s ease;
}

.contact-field:hover {
  box-shadow: #7e7e7e 10px 10px 10px;
  transition: color 1s ease, border-color 1s ease, background-color 0.3s ease, box-shadow 1s ease;
}

.dark-mode .contact-field:hover {
  box-shadow: transparent 10px 10px 10px;
  transition: color 1s ease, border-color 1s ease, background-color 0.3s ease, box-shadow 1s ease;
}

.contact-btn {
  /* color: #D5A7FF; */
  background: linear-gradient(120deg, #FFF5CC, #FFE6A7, #FFD6CC, #FFBFC9, #D5A7FF, #c082fa, #6d3e9a);
  background-size: 200% 200%;
  animation: gradientWave 10s ease infinite;
  transition: background-color 0.3s, color 0.3s;
  transition: background-color 1s ease, color 1s ease, border-color 1s ease;
  border: 2px solid #1717177a;
  box-shadow: transparent 10px 10px 10px;

}

.dark-mode .contact-btn {
  /* color: #D5A7FF; */
  background: linear-gradient(120deg, #FFF5CC, #FFE6A7, #FFD6CC, #FFBFC9, #D5A7FF, #c082fa, #6d3e9a);
  background-size: 200% 200%;
  animation: gradientWave 10s ease infinite;
  transition: background-color 0.3s, color 0.3s;
  transition: background-color 1s ease, color 1s ease, border-color 1s ease;
  border: 2px solid #343434;
  box-shadow: transparent 10px 10px 10px;
}

.contact-btn:hover {
  /* color: #6d3e9a; */
  transition: background-color 1s ease, color 1s ease, border-color 1s ease, box-shadow 1s ease;
  border: 2px solid #6d3e9a;
  color:white;
  box-shadow: #7e7e7e 10px 10px 10px;
}

.dark-mode .contact-btn {
  /* color: #6d3e9a; */
  transition: background-color 1s ease, color 1s ease, border-color 1s ease, box-shadow 1s ease;
  border: 2px solid #343434;
  box-shadow: transparent 10px 10px 10px;
}

/* end */
/* Resume */
.button {
  background: linear-gradient(120deg, #FFF5CC, #FFE6A7, #FFD6CC, #FFBFC9, #D5A7FF, #c082fa, #6d3e9a);
  background-size: 200% 200%;
  animation: gradientWave 10s ease infinite;
  transition: background-color 0.3s, color 0.3s;
  background-position: center;
  background-repeat: space;
  text-align: center;
  align-items: center;
  margin: 1rem;
  color: #171717;
  font-weight: 800;
  padding: 10px 20px;
  border: 2px solid #171717;
  transition: color 1s ease, border-color 1s ease;

}

.button:hover {
  color: white;
  border: solid 2px;
  border-color: #6d3e9a;
  transition: color 1s ease, border-color 1s ease;
}

.badge {
  background: linear-gradient(120deg, #FFF5CC, #FFE6A7, #FFD6CC, #FFBFC9);
  background-size: 200% 200%;
  animation: gradientWave 10s ease infinite;
  transition: background-color 0.3s, color 0.3s;
  background-position: center;
  background-repeat: space;
  text-align: center;
  align-items: center;
  /* margin: 0.8rem; */
  color: #171717;
  font-weight: 800;
  padding: 1px 2px;
  border: 2px solid #171717;

}

/* end */
/* Components */
.logo {
  font-optical-sizing: auto;
  transition: transform 0.5s ease-in-out;
  font-family: 'Panchang', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: bold;
  color: #131313 !important;
}

.logo:active {
  text-decoration: none;
}

.dark-mode .logo {
  color: #ffffff !important;

}

.logo-2 {
  font-optical-sizing: auto;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  font-family: 'Panchang', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.logo-pic {
  fill: #6d3e9a;
  width: 30px;
  height: 30px;
  border-radius: 1rem;
  padding: 1px;
  transition: transform 0.5s ease-in-out, background-color 1s, transform 0.5s ease-in-out;
  transform: rotate(360deg);
}

.dark-mode .logo-pic {
  background-color: #ffff;
}

.logo-pic:hover {
  transition: background-color 3s ease, background-color 0.3s, transform 0.5s ease-in-out;
  transform: rotate(360deg);

}

@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }

  .header h1 {
    font-size: 0.9rem;
  }

  .header p {
    font-size: 0.8rem;
  }

  .logo {
    font-size: 0.9rem;
  }

  .logo-pic {
    width: 20px;
    height: 20px;
  }

  .Image {
    width: fit-content;
    height: fit-content;
  }

  .link {
    font-size: 0.9rem;
  }

  .contact {
    margin: 8px;
    margin-top: 20px
  }

  .slug {
    margin: 15px;
  }

  .about {
    margin: 8px;
    margin-top: 20px;
  }

  .navbar {
    padding: 5px;
  }

  input,
  textarea {
    font-size: 0.95rem;
  }

  button {
    font-size: 1.5rem;
  }

  .section-title {
    font-size: 1rem;
  }

  .card p,
  .card h2 {
    font-size: 0.9rem;
  }
}

/* Navbar */
.navbar {
  border: 1px solid transparent;
  font-family: 'Technor', sans-serif;
  font-weight: 500;
  transition: color 1s ease, border-color 1s ease, background-color 0.3s ease, box-shadow 1s ease;
  color: #44434384;
  border: 2px solid transparent;
  box-shadow: transparent;
}

.link {
  transition: color 1s ease, background-color 0.3s ease, text-shadow 2s ease;
  text-shadow: transparent 1px 1px 10px;

}

.dark-mode .navbar {
  border: 1px solid transparent;
  font-family: 'Technor', sans-serif;
  font-weight: 500;
  transition: color 1s ease, border-color 1s ease, background-color 0.3s ease, box-shadow 1s ease;
  color: #b7b5b584;
  border: 2px solid transparent;
  box-shadow: transparent;
}

.navbar:hover {
  transition: color 1s ease, border-color 2s ease, background-color 0.3s ease, box-shadow 2s ease;
  color: #040404;
  border: 2px solid #171717;
  box-shadow: #7e7e7e 1px 10px 10px;

}

.dark-mode .navbar:hover {
  transition: color 1s ease, border-color 2s ease, background-color 0.3s ease, box-shadow 2s ease;
  color: #ffffff;
  border: 2px solid #ffffff;
  box-shadow: #343434 1px 10px 10px;
  box-shadow: transparent 1px 10px 10px;

}

.link:hover {
  background: linear-gradient(90deg, #D5A7FF, #c082fa, #6d3e9a);
  background-size: 200% 200%;
  animation: gradientWave 2s ease infinite;
  transition: background-color 0.3s, color 1s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-shadow: #7e7e7e 1px 5px 10px; */
  transition: color 1s ease, background-color 0.3s ease, text-shadow 2s ease;
}

.active-link {
  text-decoration-color: linear-gradient(90deg, #FFF5CC, #FFE6A7, #FFD6CC, #FFBFC9);
  background: linear-gradient(90deg, #FFF5CC, #FFE6A7, #FFD6CC, #FFBFC9);
  background-size: 200% 200%;
  animation: gradientWave 2s ease infinite;
  transition: background-color 0.3s, color 0.3s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.hamburger {
  color: #6d3e9a;
  transition: color 1s ease-in-out;

}

.hamburger:hover {
  color: #c082fa;
  transition: color 0.3s ease-in-out;
}

.overlay {
  background-color: white;
}

.dark-mode .overlay {
  background-color: #171717;
}

/* end */

/* footer */
.footer {
  color: #44434384;
  border: 2px solid transparent;
  transition: color 1s ease, border-color 1s ease, background-color 0.3s ease, box-shadow 2s ease;
}

.dark-mode footer {
  color: #b7b5b584;
  border: 2px solid transparent;
  transition: color 1s ease, border-color 1s ease, background-color 0.3s ease, box-shadow 2s ease;

}

.footer:hover {
  color: #070707;
  transition: color 1s ease, border-color 2s ease, background-color 0.3s ease, box-shadow 1s ease;
  border: 2px solid #070707;
  box-shadow: #7e7e7e 1px 10px 10px;

}

.dark-mode .footer:hover {
  color: #ffffff;
  transition: color 1s ease, border-color 2s ease, background-color 0.3s ease, box-shadow 1s ease;
  border: 2px solid #ffffff;
}